* {
    font-family: "Montserrat", "Century Gothic", sans-serif;
}

body {
    padding: 0;
    margin: 0;

    background: #212121;

    color: #FFA000;
}

.middlebox{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;

    text-align: center;
}

.middlebox i{
    position: relative;
    font-size: 450px;
}

.middlebox p{
    font-size: 50px;
}

.in {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;

    width: 250px;
    height: 45px;

    background: inherit;
    border: none;

    outline: none;

    font-size: 16px;

    color: #FFECB3;
}

.out {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 18%;

    width: 250px;
    height: 25px;

    font-size: 20px; 

    color: #FFECB3;

    text-align: right;
    text-overflow: clip;

    text-transform: uppercase;
}

.btn {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 78.75%;
    top: 69%;

    width: 50px;
    height: 140px;
    text-align: center;

    padding: 0;
    margin: 0;

    border: 0;

    background: inherit;

    color: #FFECB3;
}

.btn i{
    text-align: center;
    position: relative;
    font-size: 35px;
}

.btn:hover {
    color: #607D8B;
}