@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;

    padding: 2em;
}

p {
    font-size: 2em;
}

.middlebox {
    position: absolute;

    transform: translate(-50%, -50%);
    width: 20em;
    height: 25em;

    top: 45%;
    left: 50%;

    border-radius: 1.2em;

    border: 2px solid dimgrey;

    padding: 1.2em;
}

.spacer-md {
    height: 1.2em;
}

.spacer-lg {
    height: 2.4em;
}
